body {
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Pattaya', sans-serif;
  font-size: 30px;
  color: rgb(212, 175, 55);
  text-align: center;
}

/* Navbar Section */
.navbar {
  background-color: rgb(0, 4, 63, 1);
  text-decoration: none;
}

.navbar a {
  float: left;
  border: solid rgb(212, 175, 55) 3px;
  margin-right: 0;
  padding: 2px 85px;
  border-radius: 5%;
  text-decoration: none;
}
.navbar a:hover {
  text-decoration: none;
  border: solid rgb(247, 227, 164) 2px;
}
h4 {
  letter-spacing: 5px;
  font-family: 'Bevan', cursive;
  font-size: 10px;
  color: rgb(212, 175, 55);
}

/*title section */
#title {
  background-color: rgb(0, 26, 255);
  padding-top: 20px;
  margin: 0;
  background: linear-gradient(0deg, rgb(212, 175, 55) 0%, rgb(24, 28, 92) 100%);
  width: 100%;
}

h1 {
  margin: 20px auto 0 auto;
  color: rgb(212, 175, 55);
  font-family: 'Dancing Script', cursive;
  font-size: 70px !important;
  text-shadow: 2px 2px black;
  text-align: center;
}

.profilepic {
  display: block;
  margin: 0 auto 0;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 2px solid rgb(24, 28, 92);
}

.torontopic {
  display: block;
  margin: auto;
  width: 100%;
}

/* middle section */
#middleSection {
  padding-top: 20px;
  margin: 0;
  background: rgb(24, 28, 92);
  width: 100%;
  height: 600px;
}

h3 {
  font-family: 'Bevan', cursive;
  text-align: center;
  color: rgb(212, 175, 55);
}

.uoft, .meijijingu {
  display: block;
  margin: 0 auto 0;
  width: 350px;
  height: 300px;
  border: 5px solid rgb(212, 175, 55);
  filter: sepia(100%);
}

.uoft {
  margin-left: 50px;
}

.family {
  display: block;
  margin: 0 auto 0;
  width: 250px;
  height: 300px;
  border: 5px solid rgb(212, 175, 55);
  filter: sepia(100%);
}

.family:hover, .meijijingu:hover, .uoft:hover {
  filter: sepia(0);
}

.middlepic {
  float: left;
  margin: 50px;
}

/* Hobbies Section */
#myhobbies {
  padding-top: 20px;
  background-color: rgb(212, 175, 55);
  width: 100%;
  height: 600px;
}

h2 {
  font-family: 'Bevan', cursive;
  color: rgb(0, 4, 63, 1);
}

h5 {
  font-family: 'Pattaya', sans-serif;
  font-size: 35px !important;
  color: rgb(0, 4, 63, 1);
  text-align: center;
}

.hobby {
  padding-top: 20px;
  align-items: center;
  float: left;
  margin: 30px;
}

.bag, .karate, .shodo {
  display: block;
  margin: 0 auto 0;
  width: 350px;
  height: 300px;
  border: 5px solid rgb(30, 3, 104);
  transition: transform .1s ease-in-out;
}

.bag:hover, .karate:hover, .shodo:hover {
  transform: scale(1.125);
}

.shodo {
  margin-left: 60px;
}

/* footer */
footer {
  width: 100%;
  height: 400px;
  background-color: rgb(0, 4, 63);
}

#footersection {
  width: 500px;
  height: 200px;
}

h6 {
  color: rgb(212, 175, 55);
  padding: 200px 20px 20px 200px;
}

.email {
  color: inherit;
}
